" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

let mapleader=" "
set easymotion
map <Leader><Leader>w <Action>(EasyMotion-w)
map <Leader><Leader>b <Action>(EasyMotion-b)
map <Leader><Leader>s <Action>(EasyMotion-s)
map <Leader><Leader>j <Action>(EasyMotion-j)
map <Leader><Leader>k <Action>(EasyMotion-k)
map <Leader><Leader>l <Action>(EasyMotion-l)
map <Leader><Leader>h <Action>(EasyMotion-h)
map <Leader><Leader>e <Action>(EasyMotion-e)
map <Leader><Leader>ge <Action>(EasyMotion-ge)
map <Leader><Leader>n <Action>(EasyMotion-n-next)
map <Leader><Leader>N <Action>(EasyMotion-n-prev)
map <Leader><Leader>f <Action>(EasyMotion-f)
map <Leader><Leader>F <Action>(EasyMotion-F)
map <Leader><Leader>t <Action>(EasyMotion-t)
map <Leader><Leader>T <Action>(EasyMotion-T)
set which-key
set notimeout

set timeoutlen=5000

nmap s <Action>(flash.search)
xmap s <Action>(flash.search)

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
map \b <Action>(ToggleLineBreakpoint)
